@import './variables';
@import './typography';
@import './submissionForm';
@import './buttons';


.weight-table {
    display: grid;

    &__header,
    &__rows {
        display: flex;

        div {
            flex: 1;
        }
    }
}
